@import '~bootstrap/scss/bootstrap';

#sign-up {
  text-align: center;
}

#sign-in {
  text-align: center;
}

#change-password {
  text-align: center;
}

#sign-out {
  text-align: center;
}

h1, h2 {
  text-align: center;
}
